*{
    margin:0;
    padding:0
}
div{
    box-sizing: border-box;
}
.layout{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .course{
        display: flex;
        &-value{
            margin-left:15px;
        }
    }
}
